.menu-button-container {
    cursor: pointer;
    position: fixed;
    bottom: 95dvh;
    right: 5vw;
    z-index: 100;
    padding: 0;
    height: 35px;
    width: 35px;
}

.menu-button-container:focus {
    outline: none;
}

.menu-button{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s;
    background: var(--darkRed-400);
    border: 2px solid var(--darkRed-400);
}

.menu-button.open{
    background: var(--white);
}

.menu-button *{
    transition: all 0.3s;
    position: relative;
}

.menu-button #up, .menu-button #down, .menu-button #middle{
    stroke: var(--white);
}

.menu-button.open #up, .menu-button.open #down {
    opacity: 0;
}

.menu-button.closed #up, .menu-button.closed #down {
    opacity: 1;
}

.menu-button #middle{
    transform-origin: 50% 50%;
    z-index: 2;
}

.menu-button.open #middle{
    transform: scale(1.7) rotate(-45deg);
    stroke: var(--darkRed-500);
}

.menu-button #wheat {
    transform: scale(1.3) rotate(0deg);
    transform-origin: 50% 50%;
    z-index: 1;
}

.menu-button #wheat *{
    fill: var(--yellow-700);
}

.menu-button.closed #middle{
    transform: rotate(0deg);
}

.menu-button.open #wheat{
    opacity: 1;
    transform: scale(1.3) rotate(45deg);
}

.menu-button.closed #wheat{
    opacity: 0;
}

