@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;

.location {

    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: $darkRed700;
    z-index: 3;
    width: calc(72.5dvw + 10px);
    height: calc(38.2px - 5px * 2);
    top: 2dvh;
    left: 2.5vw;
    padding: 5px 15px 5px 5dvw;
    border-radius: 20px;

    > div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5px;
    }

    > div * {
        font-size: 0.8rem;
        line-height: 0.8rem;
        color: $white;
        width: 100%;
    }

    .main-location {
        font-weight: bold;
    }

    .secondary-location {
        font-weight: normal;
    }

    .arrow-down {
        width: 15px;
        height: auto;
        transition: transform 300ms;

        path {
            stroke: $white;
        }

        &.open {
            transform: rotate(180deg);
        }
        
    }

}

