@use '../../../../styles/colors.scss' as *;
@use '../../../../styles/fonts.scss' as *;

.location-selector-cnt {

    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: transform 500ms, opacity 500ms;
    top: calc(4dvh + 38.2px);
    width: calc(72.5dvw + 10px + 15px + 5dvw);
    z-index: 2;
    left: 2.5vw;
    gap: 10px;

    &.closed{

        opacity: 0;

        $distance: calc(-38.2px - 2dvh);


        .provinces-selector {
            transform: translateY($distance);
        }

        .municipalities-selector {
            transform: translateY(calc(($distance + 10px) * 2));
        }

        .cities-selector {
            transform: translateY(calc(($distance + 10px) * 3));
        }

        .backdrop-location-selector {
            pointer-events: none;
            z-index: -2;
        }

    }

    &.open {

        opacity: 1;

        .provinces-selector,
        .municipalities-selector,
        .cities-selector {
            transform: translateY(0);
        }

        .backdrop-location-selector {
            pointer-events: auto;
            z-index: 1;
        }

    }


    .location-selector {

        display: grid;
        align-items: center;
        justify-content: space-between;
        justify-items: stretch;
        overflow: hidden;
        row-gap: 10px;
        grid-template-rows: calc(38.2px - 5px * 2) auto;
        grid-template-columns: 90% 15px;
        font-size: 0.8rem;
        line-height: 0.8rem;
        width: calc(100% - 15px - 5dvw);
        height: calc(38.2px - 5px * 2);
        padding: 5px 15px 5px 5dvw;
        border-radius: 20px;
        transition: height 500ms;
        z-index: 2;
        color: $white;
        background-color: $darkRed700;

        &.open {            
            height: 50dvh;
        }

        .selected {
            font-family: $font-serif;
            font-size: 0.9rem;
        }
        
        .list-options {
            display: flex;
            flex-flow: column nowrap;
            scrollbar-width: thin;
            height: 100%;
            scrollbar-color: $white $darkRed700;
            transition: opacity 300ms;
            grid-column: span 2;
            gap: 10px;
            opacity: 0;
        }
        
        &.open > .list-options {
            opacity: 1;
            overflow-y: scroll;
            margin-bottom: 10px;
        }

        .option {
            font-family: $font-serif;
            color: $white;
            text-align: left;
            cursor: pointer;
        }

        .arrow-down {

            grid-row: 1;
            grid-column: 2;
            width: 15px;
            transition: all 300ms;
            height: auto;

            path {
                stroke: $white;
            }

        }
            
        &.open > .arrow-down {
            transform: rotate(180deg);
        }

    }
/*
    .provinces-selector,
    .municipalities-selector,
    .cities-selector {

        font-size: 0.8rem;
        line-height: 0.8rem;
        width: 100%;
        height: 38.2px;
        padding: 0px 5dvw;
        border-radius: 50px;
        transition: transform 500ms;
        z-index: 2;
        color: $white;
        background-color: $darkRed700;
        
    }

*/
    .backdrop-location-selector {
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.4);
    }

}